#tableContainer {
  margin: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #d3d3d3;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr a {
  display: inline-block;
  align-items: center;

  text-decoration: none;
  color: black;
}

tr a:hover {
  font-weight: bold;
}
